// Styling for the contact section
section#about {
  background-color: $gray-900;
  background-image: url("#{$about-image}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 15%;
  .section-heading {
    color: $black;
    text-align: center;
    //margin-left: 25%;


  }
  .large {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  p { //This is for the text body of the About page. For some reason it is "p".
    line-height: 25px;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    //text-align: right;
    //padding-left:40%;
  }
}
